.hero__title{
    display: none;
}

.hero__carousel__box{

margin-bottom: 99px;
max-width: 1062;
    max-height: 509px;
}



.category__hero{
    display: flex;
margin-bottom: 28px;
    color: #b4ad9e;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: normal;
    line-height: normal;
    text-transform: uppercase;
}
.article_title{
    margin-bottom: 34px;
font-weight: inherit;
    font-size: 30px; 
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}
.article_text{
    font-family: inherit;
    margin-bottom: 52px;
}
.article_link_comment{
    display: flex;
    color: #b4ad9e;
        font-family: Ubuntu;
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: left;
        text-transform: uppercase;
}