    .container{display: flex;
        margin-left: auto;
margin-right: auto;
min-width: 320px;
padding:20px 20px 120px 35px;
}   

@media (min-width:1200px){
    .container{

width:1200px;
padding:98px 70px 120px 149px;
}





}