




.comments__container{
    margin-left: auto;
    margin-right: auto;
    padding:0 30px;
}
.comments__section{
    padding-top: 67px;
    padding-bottom: 96px;
}
.item{display: flex;}

.item__img__box{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-right: 30px;
    min-width: 70px;
    height: 70px;
    background-color: #cae5e0;
    border-radius: 50%;

    color: #ffffff;
        font-family: Ubuntu;
        font-size: 34px;
        font-weight: 300;
        letter-spacing: normal;
        line-height: normal;
        /* text-align: center; */
        text-transform: uppercase;
}
.item__img__box_color{
    background-color: #ededea;
}

.item__name{
    margin-bottom: 14px;
    font-weight: 700;
}
.item__comment{margin-bottom: 26px;}

.comments__form{
    width: 100%;
    height: 70px;
}

.comments__field{
    display: flex;
    /* align-items:center; */
    /* overflow: hidden; */
width: 100%;
height: 100%;
padding:34px;
outline:none;
border: 1px solid #c8c8c8;
border-radius: 5px;

font-family: inherit;
  
}

.comments__field::placeholder{
color: #c8c8c8;

    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: normal;
    line-height: normal;
    text-transform: uppercase;
   

}

.comments__connect__box{
     display: flex;
     align-items: center;
     justify-content: flex-end;
      margin-top: 38px;
  
}
.connect__list{
display: flex;
align-items: center;
}
.connect__link:not(:last-child){
margin-right: 16px;

}
.connect__link{
    display: flex;
    align-items: center;
}
.comments__counter{
    margin-right: 38px;
    margin-bottom: 0;
}
@media(min-width:1200px){
    
    .comments__container{
min-width:1200px;
padding-left: 151px;
padding-right: 151px;
 }

.item__img__box {
margin-right: 70px;



}}

